.forms {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        width: 650px;
        margin-right: 16px;
        padding: 4px 12px;
        outline: none;
        border: none;
        border-radius: 8px;
    }

    button {
        background-color: transparent;
        color: white;
        border: none;
        cursor: pointer;

        :hover {
            color: lawngreen;

        }
    }
}

.container_table {
    max-width: 1080px;
    width: 100%;

    table {
        text-align: center;
        width: 100%;
        margin-top: 40px;

        @media screen and (max-width:600px) {
            display: flex;
            width: 100%;
        }


        thead {
            color: white;
            font-size: 16px;
            background-color: grey;

            th {

                @media screen and (max-width:600px) {
                    display: block;
                    padding: 12px;

                }
            }

        }
    }

    tbody {
        color: white;
        font-size: 18px;
        font-weight: 700;
        background-color: #d3d3d318;

        @media screen and (max-width:600px) {
            width: 100%;
        }


        td {
            padding: 8px;

            @media screen and (max-width:600px) {
                display: flex;
                flex-direction: column;
                padding: 12px;
                text-align: end;
                width: 300px;
            }

            a {
                color: white;

                &:hover {
                    color: #4682B4;
                }
            }



        }

    }

    &__positivo {
        color: #00FF00;
    }

    &__negativo {
        color: #800000;
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        img {
            height: 20px;
            width: 20px;
        }
    }

    button {
        background-color: #4682B4;
        margin-top: 24px;
        width: 150px;
        margin-left: 16px;
        margin-bottom: 16px;
        color: white;
        border-radius: 8px;
        font-weight: bold;
        outline: none;
        border: none;
        cursor: pointer;
        height: 24px;
    }

}